LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "P4";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[0]" SITE "A13";
LOCATE COMP "leds[1]" SITE "A12";
LOCATE COMP "leds[2]" SITE "B19";
LOCATE COMP "leds[3]" SITE "A18";
LOCATE COMP "leds[4]" SITE "B18";
LOCATE COMP "leds[5]" SITE "C17";
LOCATE COMP "leds[6]" SITE "A17";
LOCATE COMP "leds[7]" SITE "B17";

IOBUF PORT "leds[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS25;

