set_io LED0 B5
set_io LED1 B4
set_io LED2 A2
set_io LED3 A1
set_io LED4 C5
set_io LED5 C4
set_io LED6 B3
set_io LED7 C3
set_io CLK  J3

set_io GPIO_A[0] T1
set_io GPIO_A[1] T2
set_io GPIO_A[2] R2
set_io GPIO_A[3] T3
set_io GPIO_A[4] R3
set_io GPIO_A[5] R4
set_io GPIO_A[6] T5
set_io GPIO_A[7] R5
set_io GPIO_A[8] T6
set_io GPIO_A[9] R6
set_io GPIO_A[10] T7
set_io GPIO_A[11] T8
set_io GPIO_A[12] P8
set_io GPIO_A[13] P9
set_io GPIO_A[14] T10 
set_io GPIO_A[15] R10

set_io UART_RX P1
set_io UART_TX P2

set_io TIM1_CMP K3
set_io TIM2_CMP K1

